@using MVCDemo.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentInfoViewModel

<h1>@Model.Student.Name</h1>
<h1>@Model.Student.Age</h1>
<h1>@Model.Student.Gender</h1>
<h2>@Model.Address.City</h2>
<h2>@Model.Address.Region</h2>

